<div class="container mt-4">

<div class="jumbotron">
  <h1 class="display-4 text-danger">Inventory Management System</h1>
  <br>
  <p class="lead">Inventory is considered to be one of the most important assets of a business. Its
    management needs to be proactive, accurate and efficient. Inventory is essential
    for every organization to ensure smooth running of the production process, to
    reduce the ordering cost of inventory, to take advantage of quantity discount,
    avoid opportunity loss on sales, to utilize and optimize the plant capacity and to
    reduce the overall price. Thus, it can be said that inventory is inevitable and has to
    be maintained in appropriate quantity. However, the concept of Just In Time (JIT)
    is becoming popular which is an inventory strategy companies employ to increase
    efficiency and decrease waste by receiving goods only as they are needed in the
    production process, thereby reducing inventory costs. This method requires
    producers to forecast demand accurately. </p>
  <hr class="my-4">
  <p class=" lead ">If you want to add some products in our management system click getting started... </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/add" role="button">Getting Started</a>
  </p>
</div>
</div>


